* {
  margin: 0;
  padding: 0;
  font-family: Libre Franklin;
}

#nav {
  height: 120px;
  width: calc(100% - 60px);
  padding: 0 30px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav #menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

#menu h4 {
  font-size: 0.8vw;
  font-weight: 600;
}

#nav img {
  height: 10vh;
}

#log {
  display: flex;
  align-items: center;
  gap: 25px;
}

#log p {
  font-size: 0.8vw;
  font-weight: 600;
}

#log p:nth-child(3) {
  padding: 15px 25px;
  border-radius: 60px;
  background-color: #0d0c22;
  color: white;
  height: fit-content;
}

#log p:nth-child(3):hover {
  background-color: #565564;
  cursor: pointer;
}

#log div {
  position: relative;
  /* background-color: yellow; */
  width: fit-content;
  height: fit-content;
  border-radius: 60px;
}

#log div input {
  width: 15vw;
  height: 5vh;
  border: none;
  border-radius: 60px;
  padding-left: 50px;
}

#log div input::-webkit-input-placeholder {
  font-size: 0.8vw;
  font-weight: 500;
}

#log div i {
  position: absolute;
  left: 7%;
  top: 23%;
  color: gray;
  font-size: 20px;
}

#main .threemillion {
  margin-top: 80px;
  margin-bottom: 25px;
  background-color: #f4afea;
  width: fit-content;
  font-weight: 18px;
  font-weight: 550;
  padding: 12px 20px;
  border-radius: 50px;
  position: relative;
  color: rgb(50, 50, 50);
  left: 50%;
  transform: translateX(-50%);
}

#main .firsth1 {
  font-family: "Source Serif 4";
  font-size: 3.5vw;
  font-weight: 500;
  text-align: center;
  line-height: 3.8vw;
  margin-bottom: 25px;
}

#main h3:nth-child(4) {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
}

#main p:nth-child(5) {
  padding: 15px 25px;
  border-radius: 60px;
  background-color: #0d0c22;
  color: white;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#main p:nth-child(5):hover {
  background-color: #565564;
  cursor: pointer;
}

#scroll {
  height: 370px;
  width: 100%;
  /* border: 2px solid black; */
  margin-top: 80px;
  /* background-color: blue; */
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

#scroll .content {
  flex-shrink: 0;
  height: 80%;
  width: calc(200% - 20px);
  /* background-color: red; */
  display: flex;
  padding: 0 10px;
  animation-name: anime;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* border: 2px solid black; */
}

#scroll .content div {
  /* flex-shrink: 0; */
  height: 100%;
  width: 30%;
  /* border: 2px solid black; */
  border-radius: 35px;
  margin-right: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content h4 {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.content h4:nth-child(2) {
    margin-bottom: 20px;
}

.content ul {
    display: flex;
    gap: 10px;
}

.content ul li {
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 20px;
    border: 0.2px solid rgba(255, 255, 255, 0.366);
    width: fit-content;
    list-style: none;
}


.content div:nth-child(1) {
  background-image: url("https://cdn.dribbble.com/uploads/47175/original/1fb34610061a95a007ac5e7b1dc53138.jpeg?1685645183&format=webp&resize=273x340&vertical=center");
  background-size: cover;
}

.content div:nth-child(2) {
  background-image: url("https://cdn.dribbble.com/uploads/47170/original/cd3266dde4f00a5d6a509c7375ddaecd.png?1685644840&format=webp&resize=273x340&vertical=center");
  background-size: cover;
}

.content div:nth-child(3) {
    background-image: url("https://cdn.dribbble.com/uploads/47178/original/mercedes-bazan.png?1689174566&format=webp&resize=273x340&vertical=center");
    background-size: cover;
  }

  .content div:nth-child(4) {
    position: relative;
  }

  .content div:nth-child(4) h4, ul {
    z-index: 1;
  }

  .content div:nth-child(4) video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0%;
    border-radius: 35px;
    /* z-index: -1; */
  }

  .content div:nth-child(5) {
    background-image: url("https://cdn.dribbble.com/uploads/47176/original/9b22cd83bde1809976bec0722d1f8923.jpeg?1685645213&format=webp&resize=273x340&vertical=center");
    background-size: cover;
  }

  .content div:nth-child(6) {
    background-image: url("https://cdn.dribbble.com/uploads/47171/original/daniele-buffa-3.png?1689174763&format=webp&resize=273x340&vertical=center");
    background-size: cover;
  }

  .content div:nth-child(7) {
    background-image: url("https://cdn.dribbble.com/uploads/47172/original/d85ae8c7db2421e9a01ecac942978d4b.png?1685645079&format=webp&resize=273x340&vertical=center");
    background-size: cover;
  }

  .content div:nth-child(8) {
    background-image: url("https://cdn.dribbble.com/uploads/47177/original/3986915be548424a5d36657f2b034ead.jpeg?1685645250&format=webp&resize=273x340&vertical=center");
    background-size: cover;
  }

  .content div:nth-child(9) {
    position: relative;
  }

  .content div:nth-child(9) h4, ul {
    z-index: 1;
  }

  .content div:nth-child(9) video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0%;
    border-radius: 35px;
    /* z-index: -1; */
  }

  .content div:nth-child(10) {
    background-image: url("https://cdn.dribbble.com/uploads/47173/original/Vladimir_Gruev.png?1689174896&format=webp&resize=273x340&vertical=center");
    background-size: cover;
  }

  .content div:nth-child(11) {
    position: relative;
  }

  .content div:nth-child(11) h4, ul {
    z-index: 1;
  }

  .content div:nth-child(11) video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0%;
    border-radius: 35px;
    /* z-index: -1; */
  }

  .content div:nth-child(12) {
    background-image: url("https://cdn.dribbble.com/uploads/47174/original/4f02d72fe701b15b2168a4954332427f.png?1685645150&format=webp&resize=273x340&vertical=center");
    background-size: cover;
  }


 @keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} 

#Explore {
  /* background-color: red; */
  font-weight: 400;
  font-size: 2.7vw;
  text-align: center;
  margin: 85px 0;
}

#images {
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  /* background-color: red; */
  padding: 1px;
}

.row1 {
  height: 20vw;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  /* border: 2px solid black; */
}

.row1 .one {
  width: 22vw; 
  height: 35vh;
  /* border: 2px solid black; */
  border-radius: 14px;
}

.one .img {
  height: 85%;
  background-image: url("https://cdn.dribbble.com/userupload/14899381/file/original-162682a704c29fd050d7593b0dbcf339.jpg?crop=156x460-2324x2086&resize=450x338&vertical=center");
  background-size: cover;
  /* border: 2px solid black; */
  border-radius: 14px;
  display: flex;
  align-items: flex-end;
}

.one .img .contents {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: fit-content;
  padding: 0 20px 30px 20px; 
  opacity: 0;
  transition: 0.5s;
  backdrop-filter: blur(10px);
}

.one .img:hover .contents {
  opacity: 1;
}

.contents div {
  display: flex;
  gap: 10px;
}

.contents div i {
  color: black;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
}

.contents h3 {
  font-size: 16px;
  font-weight: 600;
}

.menus {
  height: 14%;
  display: flex;
  /* background-color: black; */
}

.menu1 {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  width: 50%;
  /* background-color: rebeccapurple; */
}

.menu1 img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.menu1 p {
  font-weight: 400;
  font-size: 15px;
}

.menu1 p:nth-child(3) {
  font-size:10px;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #CCCCCC;
  color: white;
  font-weight: 600;
}

.menu1 p:nth-child(3):hover {
  background-color: black;
  cursor: pointer;
}

.menus .menu1 {
  display: flex;
}

.menus .menu2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  height: 100%;
  width: 50%;
}

.menu2 h4 {
  font-size: 14px;
  color: #a4a3a3;
  font-weight: 400;
}

.menu2 h4 i {
  font-size: 15px;
}

.menu2 h4 i:hover {
  cursor: pointer;
  color: #EA64D9;
}

.row1 .two .img {
  background-image: url("https://cdn.dribbble.com/userupload/14836748/file/original-fa4f44eb0b61948d66fb987c295a98be.png?resize=450x338&vertical=center");
  background-size: cover;
}

.row1 .three .img {
  background-image: url("https://cdn.dribbble.com/userupload/14937273/file/original-02b665877681cf3ab3a1503e6d4af089.png?resize=450x338&vertical=center");
  background-size: cover;
}

.row1 .four .img {
  background-image: url("https://cdn.dribbble.com/userupload/14834156/file/original-f19b5701ea5fc4046464114a94efbb3f.png?resize=450x338&vertical=center");
  background-size: cover;
}

/*------------------------------------------------------------- Row2 -------------------------------------------------------------*/

.row2 {
  height: 20vw;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  /* border: 2px solid black; */
}

.row2 .one {
  width: 22vw; 
  height: 35vh;
  /* border: 2px solid black; */
  border-radius: 14px;
}

.row2 .one .img {
  height: 85%;
  background-image: url("https://cdn.dribbble.com/userupload/14932012/file/original-1d97d7e3877f85179e8d481c0fb5e569.jpg?crop=111x105-1093x841&resize=450x338&vertical=center");
  background-size: cover;
  /* border: 2px solid black; */
  border-radius: 14px;
  display: flex;
  align-items: flex-end;
}

.one .img .contents {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: fit-content;
  padding: 0 20px 30px 20px; 
  opacity: 0;
  transition: 0.5s;
  backdrop-filter: blur(10px);
}

.one .img:hover .contents {
  opacity: 1;
}

.contents div {
  display: flex;
  gap: 10px;
}

.contents div i {
  color: black;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
}

.contents h3 {
  font-size: 16px;
  font-weight: 600;
}

.menus {
  height: 14%;
  display: flex;
  /* background-color: black; */
}

.menu1 {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  width: 50%;
  /* background-color: rebeccapurple; */
}

.menu1 img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.menu1 p {
  font-weight: 400;
  font-size: 15px;
}

.menu1 p:nth-child(3) {
  font-size:10px;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #CCCCCC;
  color: white;
  font-weight: 600;
}

.menu1 p:nth-child(3):hover {
  background-color: black;
  cursor: pointer;
}

.menus .menu1 {
  display: flex;
}

.menus .menu2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  height: 100%;
  width: 50%;
}

.menu2 h4 {
  font-size: 14px;
  color: #a4a3a3;
  font-weight: 400;
}

.menu2 h4 i {
  font-size: 15px;
}

.menu2 h4 i:hover {
  cursor: pointer;
  color: #EA64D9;
}

.row2 .two .img {
  background-image: url("https://cdn.dribbble.com/userupload/14970824/file/original-08fbfc699ecbb98bee8318e80ded6903.jpg?crop=481x823-2190x2105&resize=450x338&vertical=center");
  background-size: cover;
}

.row2 .three .img {
  background-image: url("https://cdn.dribbble.com/userupload/14901301/file/original-a05d582cc4c1d17c594120451923ebf1.png?resize=450x338&vertical=center");
  background-size: cover;
}

.row2 .four .img {
  background-image: url("https://cdn.dribbble.com/userupload/14933162/file/original-2f021c4212fb3be1f6f3ac0d7e2e41ee.jpg?resize=450x338&vertical=center");
  background-size: cover;
}

/*------------------------------------------------------------- Row3 -------------------------------------------------------------*/

.row3 {
  height: 20vw;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  /* border: 2px solid black; */
}

.row3 .one {
  width: 22vw; 
  height: 35vh;
  /* border: 2px solid black; */
  border-radius: 14px;
}

.row3 .one .img {
  height: 85%;
  background-image: url("https://cdn.dribbble.com/userupload/14882040/file/original-3628c572f41c2b17b536fbeda4ceb37f.jpg?resize=450x338&vertical=center");
  background-size: cover;
  /* border: 2px solid black; */
  border-radius: 14px;
  display: flex;
  align-items: flex-end;
}

.one .img .contents {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: fit-content;
  padding: 0 20px 30px 20px; 
  opacity: 0;
  transition: 0.5s;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.615));
}

.one .img:hover .contents {
  opacity: 1;
}

.contents div {
  display: flex;
  gap: 10px;
}

.contents div i {
  color: black;
  padding: 15px;
  background-color: white;
  border-radius: 50%;
}

.contents h3 {
  font-size: 16px;
  font-weight: 600;
}

.menus {
  height: 14%;
  display: flex;
  /* background-color: black; */
}

.menu1 {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  width: 50%;
  /* background-color: rebeccapurple; */
}

.menu1 img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.menu1 p {
  font-weight: 400;
  font-size: 15px;
}

.menu1 p:nth-child(3) {
  font-size:10px;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #CCCCCC;
  color: white;
  font-weight: 600;
}

.menu1 p:nth-child(3):hover {
  background-color: black;
  cursor: pointer;
}

.menus .menu1 {
  display: flex;
}

.menus .menu2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  height: 100%;
  width: 50%;
}

.menu2 h4 {
  font-size: 14px;
  color: #a4a3a3;
  font-weight: 400;
}

.menu2 h4 i {
  font-size: 15px;
}

.menu2 h4 i:hover {
  cursor: pointer;
  color: #EA64D9;
}

.row3 .two .img {
  background-image: url("https://cdn.dribbble.com/userupload/14788567/file/original-970fe6355c4937cdd1a9afdbc0a930b6.jpg?resize=450x338&vertical=center");
  background-size: cover;
}

.row3 .three .img {
  background-image: url("https://cdn.dribbble.com/userupload/14849000/file/original-4c0362f5b4a0f7a14c35b33f2c23f222.png?resize=450x338&vertical=center");
  background-size: cover;
}

.row3 .four .img {
  background-image: url("https://cdn.dribbble.com/userupload/14895579/file/original-5a0ab8dde5e50269eb45c0ea72dc8425.jpg?resize=450x338&vertical=center");
  background-size: cover;
}

#images button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px 24px;
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 60px;
  font-weight: 600;
  margin: 0 0 40px 0;
}

#footer {
  height: 70vh;
  width: 100%;
  background-color: #FFDA79;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

#footer h1, p {
  text-align: center;
}

#footer h1 {
  font-family: "Source Serif 4";
  font-size: 3.5vw;
  font-weight: 500;
  line-height: 3.8vw;
}

#footer p {
  font-size: 21px;
  line-height: 35px;
}

#footer div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#footer div button:nth-child(1) {
  background-color: #0D0C22;
  color: white;
}

#footer div button:nth-child(2) {
  font-size: 14px;
  font-weight: 600;
}

#footer div button {
  padding: 18px 25px;
  border: none;
  border-radius: 50px;
}

#footer p a {
  color: black;
  text-decoration: underline;
}